.tel-custom{
    text-decoration: none;
    color: white;
}
.a-custom{
    text-decoration: none;
}
.a-customs{
    text-decoration: none;
    color: black;
}
.hover{
    overflow: hidden;
    height: 300px;
}
.img-hover{
    height: 100%;
    width: 100%;
    transition: transform .5s ease-in-out;
}
.img-hover:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.xe-custom{
    text-decoration: none;
    color: black;
}